@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --text-color: #8a2435;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://dl.dropboxusercontent.com/s/kcxf3v6djd0e0ha/bg2.jpg?dl=0);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px
}

.container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header {
    position: absolute;
    top: -40px;
    left: 20px;
    right: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.logo {
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

.menu {
    display: flex;
    list-style: none;
}

.menu>li {
    margin: 0 10px;
}

.menu>li>a {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 15px;
    border-radius: 25px;
}

.menu>li>a:hover,
.menu>li>a.active {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content {
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
}

.content>h2 {
    font-size: 3em;
    color: var(--text-color);
}

.content>p {
    font-size: 1.2em;
    color: var(--text-color);
}

.content>a {
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: var(--text-color);
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.img-box>img {
    max-width: 400px;
    animation: animate 5s linear infinite;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(50px);
    }

    50% {
        transform: translateY(100px);
    }
}

.social-links {
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-links>li {
    list-style: none;
}

.social-links a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.social-links img {
    transform: scale(0.6);
    transition: 0.5s;
}

.social-links a:hover>img {
    transform: scale(0.6) rotate(360deg);
}

.copyright {
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: var(--text-color);
}